.headband {
  height: 1.5px;
  background-image: linear-gradient(90deg, #f79533 0%, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
}
.header {
  line-height: 1.5;
}
.container {
  background-color: rgba(0,0,0,0.75);
}
.header-inner {
  padding-top: 0px;
  padding-bottom: 0px;
}
.posts-expand {
  padding-top: 80px;
}
.posts-expand .post-meta {
  margin: 5px 0px 0px 0px;
}
.post-button {
  margin-top: 0px;
}
.container .header-inner {
  width: 100%;
}
.site-meta {
  background-image: linear-gradient(90deg, #f79533 0%, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
}
.brand {
  background-color: rgba(255,255,255,0);
  margin-top: 15px;
  padding: 0px;
}
.site-title {
  font-size: 75px;
  font-weight: bold;
  color: #fff;
  line-height: 80px;
  letter-spacing: 3px;
}
.site-subtitle {
  margin: 0px;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 3px;
  font-weight: bold;
  color: #fff;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #a166ab;
}
.menu {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.15);
}
.menu .menu-item a {
  font-size: 15px;
}
.menu .menu-item {
  margin: 5px 15px;
}
.menu .menu-item a:hover {
  border-bottom-color: rgba(161,102,171,0);
}
.post {
  margin-bottom: 50px;
  padding: 45px 36px 36px 36px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-color: #fff;
}
.posts-expand .post-title {
  font-size: 26px;
  font-weight: 700;
}
.posts-expand .post-title-link::before {
  background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
}
.posts-expand .post-meta {
  margin: 10px 0px 20px 0px;
}
.posts-expand .post-meta .post-description {
  font-style: italic;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #666;
}
.post-button .btn {
  color: #555 !important;
  background-color: #fff;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.35);
  border: none !important;
  transition-property: unset;
  padding: 0px 15px;
}
.post-button .btn:hover {
  color: #fff !important;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.35);
  background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
}
.posts-expand .post-eof {
  margin: 0px;
  background-color: rgba(255,255,255,0);
}
.pagination {
  border: none;
  margin: 0px;
}
.pagination .page-number.current {
  border-radius: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,0.35);
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  margin-bottom: 10px;
  border: none;
}
.pagination .space {
  color: #fff;
}
.footer {
  line-height: 1.5;
  background-color: rgba(255,255,255,0.75);
  color: #333;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #a166ab;
  box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.15);
}
.posts-expand .post-tags a {
  border-bottom: none;
  margin-right: 0px;
  font-size: 13px;
  padding: 0px 5px;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.posts-expand .post-tags a:hover {
  background: #eee;
}
.post-widgets {
  padding-top: 0px;
}
.post-nav {
  margin-top: 30px;
}
.post-nav-item a {
  color: #5073b8;
  font-weight: bold;
}
.post-nav-item a:hover {
  color: #a166ab;
  font-weight: bold;
}
.comments {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
  margin: 80px 0px 40px 0px;
}
a {
  color: #5073b8;
  border-bottom-color: #5073b8;
}
a:hover {
  color: #a166ab;
  border-bottom-color: #a166ab;
}
hr {
  margin: 10px 0px 30px 0px;
}
.post-body h2,
h3,
h4,
h5,
h6 {
  border-left: 4px solid #a166ab;
  margin-left: -36px;
  padding-left: 32px;
}
.posts-expand .post-body img {
  border: none;
  padding: 0px;
}
.post-gallery .post-gallery-img img {
  padding: 3px;
}
code {
  margin: 0px 4px;
}
.highlight figcaption {
  margin: 0em;
  padding: 0.5em;
  background: #eee;
  border-bottom: 1px solid #e9e9e9;
}
.highlight figcaption a {
  color: #5073b8;
}
pre .addition {
  background: #e6ffed;
}
pre .deletion {
  background: #ffeef0;
}
.sidebar-toggle {
  right: 10px;
  bottom: 43px;
  background-color: rgba(247,149,51,0.75);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
.page-post-detail .sidebar-toggle-line {
  background: #07b39b;
}
.back-to-top {
  line-height: 1.5;
  right: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  background-color: rgba(247,149,51,0.75);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
.back-to-top.back-to-top-on {
  bottom: 10px;
}
.sidebar {
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.75);
}
.sidebar-inner {
  margin-top: 30px;
}
.sidebar-nav li {
  font-size: 15px;
  font-weight: bold;
  color: #07b39b;
}
.sidebar-nav li:hover {
  color: #a166ab;
}
.sidebar-nav .sidebar-nav-active {
  color: #07b39b;
  border-bottom-color: #a166ab;
  border-bottom-width: 1.5px;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: #07b39b;
}
.site-overview {
  line-height: 1.3;
}
.site-author-image {
  border: 2px solid #fff;
  border-radius: 100%;
  transition: transform 1s ease-out;
}
img:hover {
  transform: rotateZ(360deg);
}
.posts-expand .post-body img:hover {
  transform: initial;
}
.site-author-name {
  display: none;
}
.site-description {
  letter-spacing: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 13px;
  color: #f37055;
}
.site-state {
  line-height: 1.3;
  margin-left: 12px;
}
.site-state-item {
  padding: 0px 15px;
  border-left: 1.5px solid #a166ab;
}
.feed-link {
  margin-top: 15px;
  margin-left: 7px;
}
.feed-link a {
  color: #fff;
  border: 1px solid #9e9e9e !important;
  border-radius: 15px;
}
.feed-link a:hover {
  background-color: #a166ab;
}
.feed-link a i {
  color: #fff;
}
.links-of-author {
  margin-top: 0px;
}
.links-of-blogroll-title {
  margin-bottom: 10px;
  margin-top: 15px;
  color: rgba(7,179,155,0.75);
  margin-left: 6px;
  font-size: 15px;
  font-weight: bold;
}
.sidebar a {
  color: #ccc;
  border-bottom: none;
}
.sidebar a:hover {
  color: #fff;
}
#days {
  display: block;
  color: #07b39b;
  font-size: 13px;
  margin-top: 15px;
}
.post-toc ol a {
  color: #07b39b;
  border-bottom: 1px solid #607d8b;
}
.post-toc ol a:hover {
  color: #a166ab;
  border-bottom-color: #a166ab;
}
.post-toc .nav .active > a {
  color: #a166ab;
  border-bottom-color: #a166ab;
}
.post-toc .nav .active > a:hover {
  color: #a166ab;
  border-bottom-color: #a166ab;
}
/* 修侧栏目录bug，如果主题配置文件_config.yml的toc是wrap: true */
.post-toc ol {
  padding: 0px 10px 5px 10px;
}
/* 侧栏目录默认全展开，已注释
.post-toc .nav .nav-child {
    display: block;
}
*/
.posts-collapse {
  margin: 50px 0px;
}
@media (max-width: 1023px) {
  .posts-collapse {
    margin: 50px 20px;
  }
}
.posts-collapse::after {
  margin-left: -2px;
  background-image: linear-gradient(180deg, #f79533 0, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
}
.posts-collapse .collection-title::before {
  background-color: #fff;
}
.posts-collapse .post-header:hover::before {
  background-color: #a166ab;
}
.posts-collapse .collection-title h1,
.posts-collapse .collection-title h2 {
  color: #fff;
}
.posts-collapse .post-title a {
  color: #5073b8;
}
.posts-collapse .post-title a:hover {
  color: #a166ab;
}
.posts-collapse .post-header:hover {
  border-bottom-color: #a166ab;
}
.page-archive .archive-page-counter {
  color: #fff;
}
.page-archive .posts-collapse .archive-move-on {
  top: 10px;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.post-block.page {
  margin-top: 40px;
}
.category-all-page {
  margin: -80px 50px 40px 50px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-color: #fff;
  padding: 86px 36px 36px 36px;
}
@media (max-width: 767px) {
  .category-all-page {
    margin: -73px 15px 50px 15px;
  }
  .category-all-page .category-all-title {
    margin-top: -5px;
  }
}
.tag-cloud {
  margin: -80px 50px 40px 50px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-color: #fff;
  padding: 86px 36px 36px 36px;
}
.tag-cloud-title {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .tag-cloud {
    margin: -73px 15px 50px 15px;
    padding: 86px 5px 36px 5px;
  }
}
#top {
  display: block;
  text-align: center;
  margin: -100px 50px 40px 50px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-color: #fff;
  padding: 106px 36px 10px 36px;
}
@media (max-width: 767px) {
  #top {
    margin: -93px 15px 50px 15px;
    padding: 96px 10px 0px 10px;
  }
}
.about-page {
  margin: -80px 0px 60px 0px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-color: #fff;
  padding: 106px 36px 36px 36px;
}
@media (max-width: 767px) {
  .about-page {
    margin: -73px 0px 50px 0px;
    padding: 96px 15px 20px 15px;
  }
}
h2.about-title {
  border-left: none !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  text-align: center;
  background-image: linear-gradient(90deg, #a166ab 0%, #a166ab 40%, #ef4e7b 45%, #f37055 50%, #ef4e7b 55%, #a166ab 60%, #a166ab 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}
.local-search-popup .search-icon,
.local-search-popup .popup-btn-close {
  color: #f79533;
  margin-top: 7px;
}
.local-search-popup .local-search-input-wrapper input {
  padding: 9px 0px;
  height: 21px;
  background-color: #fff;
}
.local-search-popup .popup-btn-close {
  border-left: none;
}
::selection {
  background-color: #fff159;
  color: #555;
}
/* 设置滚动条的样式 */
/* 参考https://segmentfault.com/a/1190000003708894 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  background: #eee;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f79533;
}
.aplayer {
  font-family: Lato, -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STHeiti, "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Microsoft YaHei", sans-serif !important;
}
.aplayer-withlrc.aplayer .aplayer-info {
  background-color: #fff;
}
.aplayer .aplayer-list ol {
  background-color: #fff;
}
img#github-emoji {
  margin: 0px;
  padding: 0px;
  display: inline !important;
  vertical-align: text-bottom;
  border: none;
  cursor: text;
  box-shadow: none;
}
.post-body a {
  color: #5073b8;
  border-bottom: none;
  text-decoration: underline;
}
.post-body a:hover {
  color: #a166ab;
  border-bottom: none;
  text-decoration: underline;
}
.tag-cloud a {
  border-bottom: 1px solid #5073b8;
  text-decoration: none;
}
.tag-cloud a:hover {
  border-bottom: 1px solid #a166ab;
  text-decoration: none;
}
a.categories {
  color: #5073b8;
  border-bottom: none;
  text-decoration: underline;
}
a.categories:hover {
  color: #a166ab;
  border-bottom: none;
  text-decoration: underline;
}
.post-body .tabs ul.nav-tabs li.tab a {
  text-decoration: none;
}
a.fancybox {
  text-decoration: none !important;
}
.btn {
  color: #fff !important;
  text-decoration: none !important;
  border: 2px solid #222 !important;
}
.btn:hover {
  color: #222 !important;
}
.weixin-box {
  position: absolute;
  bottom: 43px;
  left: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
.weixin-menu {
  position: relative;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background-size: 24px 24px;
}
.weixin-hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 150px 150px;
  transition: all 0.35s ease-in-out;
  z-index: 1024;
  opacity: 0;
}
.weixin-menu:hover .weixin-hover {
  bottom: 24px;
  left: 24px;
  height: 170px;
  width: 150px;
  opacity: 1;
}
.weixin-description {
  opacity: 0;
  position: absolute;
  bottom: 3%;
  left: 5%;
  right: 5%;
  font-size: 12px;
  transition: all 0.35s cubic-bezier(1, 0, 0, 1);
}
.weixin-menu:hover .weixin-description {
  opacity: 1;
}
#heart {
  animation: heartAnimate 1.33s ease-in-out infinite;
}
.with-love {
  color: #ff71a8;
}
h2.love {
  border-left: none;
  color: #ff71a8;
  -webkit-text-fill-color: unset;
}
blockquote.question {
  color: #555;
  border-left: 4px solid #1098ad;
  background-color: #e3f2fd;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 20px;
}
span#inline-toc {
  display: inline-block;
  border-radius: 80% 100% 90% 20%;
  background-color: #e3f2fd;
  color: #555;
  padding: 0.05em 0.4em;
  margin: 2px 5px 2px 0px;
  line-height: 1.5;
}
img.img-topic {
  width: 100%;
}
.post-sticky-flag {
  font-size: inherit;
  float: left;
  color: #000;
  cursor: help;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.post-sticky-flag:hover {
  color: #07b39b;
}
p.description {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #666;
  margin-top: 30px;
}
code.description {
  padding: 1px 1px 1px 1px;
  margin: 0px 1px 0px 4px;
}
@media (max-width: 1023px) {
  .container {
    background-color: rgba(0,0,0,0);
  }
  .sidebar {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .feed-link {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .main {
    padding-bottom: 120px;
  }
  .posts-expand {
    margin: 0px;
    padding-top: 70px;
  }
  .posts-expand .post-title {
    font-size: 22px;
  }
  .posts-expand .post-meta {
    font-size: 10px;
  }
  .post {
    margin-bottom: 30px !important;
    padding: 20px 15px 15px 15px !important;
  }
  .post-body h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: -15px;
    padding-left: 11px;
  }
  .posts-expand .post-tags {
    margin-top: 10px;
  }
  .post-widgets {
    margin-top: 10px;
  }
  .comments {
    margin: 40px 0px 40px 0px !important;
  }
  .footer {
    box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.5);
  }
}
.sidebar-active #sidebar-dimmer {
  opacity: 0;
}
.site-nav-toggle {
  top: 35px;
  left: 10px;
}
.btn-bar {
  background-color: #fff;
}
@media (max-width: 767px) {
  .menu {
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  }
  .site-nav {
    top: initial;
    background-color: rgba(255,255,255,0.75);
    border-top: none;
    border-bottom: none;
    position: relative;
    z-index: 1024;
  }
}
@media (max-width: 767px) {
  .site-title {
    font-size: 70px !important;
    letter-spacing: 0px !important;
  }
  .site-subtitle {
    letter-spacing: 0px !important;
    padding-bottom: 0px !important;
  }
  .site-meta {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  }
  .menu .menu-item {
    margin: 0px 10px !important;
  }
}
@-moz-keyframes heartAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes heartAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-o-keyframes heartAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@keyframes heartAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
